<div class="padding">
  <h1>SurveyUp Gizlilik ve Kullanım Şartları</h1>

  <h4>G&uuml;venin ve gizliliğin sizin i&ccedil;in ne kadar &ouml;nemli olduğunu biliyoruz.</h4>

  <p>SurveyUp i&ccedil;ine girdiğiniz zamanlarda periyodik olarak l&uuml;tfen bu sayfayı okuyunuz.</p>

  <p>SurveyUp&rsquo;a &uuml;ye olarak, bu uygulamanın kullanılmasına ilişkin koşulları, gizlilik politikasını ve site ile ilgili t&uuml;m cari kanunları, y&ouml;netmelikleri ve mevzuatı a&ccedil;ık&ccedil;a kabul etmiş sayılırsınız.</p>

  <h3>Tanımlamalar</h3>

  <p>&ldquo;SurveyUp&rdquo;: Kurumsal kullanıcıların web sayfasından taleplerinin işleme alındığı bireysel kullanıcıların mobil cihazlarından bu taleplere karşılık cevap verdiği mobil pazar araştırması uygulamasıdır.</p>

  <p>&ldquo;Hizmet&rdquo;: Kurumsal kullanıcılardan alınan talebin mobil kullanıcı tarafından cevaplanmasının ardınan sunulan raporu ifade eder.</p>

  <p>&ldquo;Hizmet Bedeli&rdquo;: Yerilen hizmet karşılığında alınacak olan bedeli ifade eder.</p>

  <h2>SurveyUp Gizlilik ve Kullanım Koşulları</h2>

  <p>SurveyUp mobil uygulamasına &uuml;ye olduğunuzda, kişisel bazı bilgilerinizin kullanıcılar tarafından doldurulup kaydedilmesi beklenir. Bu bilgiler i&ccedil;inde, mobil kullanıcının telefon numarası, doğum tarihi, cinsiyeti, yaşadığı şehir, &ouml;ğrenim durum, mesleği ve geliri bulunmaktadır. Bu bilgiler sadece, mobil kullanıcıya profiline uygun anketleri g&ouml;ndermek ve sistem &uuml;zerinden satın aldığı hediyeyi g&ouml;ndermek i&ccedil;in kullanılacaktır. Bu bilgiler&nbsp; SurveyUp ve ona destek veren birimler tarafından g&ouml;r&uuml;nt&uuml;lenecektir.</p>

  <h3>Kişisel Bilgilerin Toplanması ve Kullanılması</h3>

  <p>SurveyUp, &uuml;yelerin katılımıyla zenginleşecek, paylaşımcı ve katılımcı bir pazar araştırmaları uygulaması olmayı hedeflemektedir. Bu doğrultuda sizleri tanıyarak uygun anketlerin paylaşılması ve tercihlerinize uygun hediyelerin sistemize eklenmesi amacıyla, uygulamamıza &uuml;ye olurken kendinize ve ilgi alanlarınıza dair kişisel bilgileri bizimle paylaşmanız istenebilir.</p>

  <h3>Toplanan Kişisel Bilgiler</h3>

  <p>Bir SurveyUp hesabı oluşturduğunuzda, herhangi bir ankete katıldığınızda, yukarıda yazdığımız kişisel bilgilerinize ek olarak, hakkınızda &ccedil;eşitli bilgileri toplayabiliriz.</p>

  <h3>Kişisel Bilgilerin Kullanılması</h3>

  <p>İstediğiniz takdirde onay vererek bizimle paylaşacağınız bu bilgiler, başka hi&ccedil;bir kişi ya da şirketle paylaşılmayacak, sadece profilinize uygun ve ilgi alanlarınıza y&ouml;nelik anketleri size sunmak i&ccedil;in kullanılacaktır. Kişisel bilgilerinizi bizimle paylaşmak ve SurveyUp&rsquo;a &uuml;ye olmak, sizin istek ve onayınızla ger&ccedil;ekleşecektir. İstediğiniz takdirde, SurveyUp i&ccedil;inde bilgilerinizi g&uuml;ncelleyebilir, eksik olan yerleri doldurabilirsiniz. Sizden bilgi talep ettiğimiz her durumda, zorunlu olarak vermenizi istediğimiz bilgileri a&ccedil;ık bir şekilde tanımlayarak, bu bilgileri değiştirme ve iptal etme hakkını size tanıyacak ve ne şekilde kullanılacağı hakkında bilgi vereceğiz.</p>

  <h3>Değişiklik Hakları</h3>

  <p>SurveyUp, gelişen şartlar dahilinde herhangi bir zamanda kullanım koşulları ve gizlilik politikasında değişiklik yapma hakkını saklı tutar. SurveyUp herhangi bir zamanda hizmet bedeli eklemek de dahil olmak &uuml;zere Kullanım Şartlarına yeni eklemeler yapabilir. Bu eklemeler, değişiklikler, d&uuml;zenlemeler, ya da iptaller ilan edilir edilmez Gizlilik ve Kullanım Şartları dok&uuml;manı g&uuml;ncellenecektir. Bu y&uuml;zden Kullanıcıya ilgili gelişmelerin bildirilebilmesi i&ccedil;in kayıt esnasında verdiği bilgilerin doğru olması gerekmektedir; aksi takdirde her t&uuml;rl&uuml; sorumluluk Kullanıcıya ait olacaktır. Kullanıcı, SurveyUp&rsquo;ı kullanmakla bu olası değişiklikleri ve d&uuml;zenlemeleri de kabul etmiş sayılır.</p>

  <h3>Yaş Sınırlaması</h3>

  <p>Uluslararası d&uuml;zenlemeler, internet sitelerinde 13 yaşının altındaki gen&ccedil;lerin kişisel bilgilerinin toplanmasına sınırlar getirmektedir. Bu nedenle yaşınız 13&#39;&uuml;n altında ise, SurveyUp&rsquo;a &uuml;ye olup anketlere cevap veremeyecek, biriken puanlarınızla satın alma işlemi yapamayacaksınız. 13 yaş altında olup Profil ekranını bilerek/isteyerek yanlış dolduran abonelerden SurveyUp sorumlu değildir. Bu kişiler farkedildiğinde abonenin durumu hakkındaki değişik yapma hakkını SurveyUp kendinde saklı tutar.</p>

  <h3>Bilgilerin G&uuml;venliği</h3>

  <p>SurveyUp i&ccedil;inde saklanan bilgiler tamamen istatistiksel bilgiler olup hi&ccedil;bir kişisel bilgi i&ccedil;ermez. T&uuml;m kişisel bilgileriniz daha g&uuml;venli bir alanda saklanmaktadır. SurveyUp&rsquo;ta veri g&uuml;venliği sistemleri kullanılmaktadır. Bu ama&ccedil;la SurveyUp, &ldquo;Global Sign&rdquo;ın g&uuml;venlik kapsamı i&ccedil;indedir. G&uuml;venli sunucu yazılımımız (SSL) end&uuml;stri standartlarında olup, sistemimiz i&ccedil;in en g&uuml;venilir g&uuml;venlik sistemidir.</p>

  <h3>SurveyUp Mobil Pazar Araştırmaları Uygulaması</h3>

  <p>SurveyUp, online anketleri dilediği yerde kullanıcısına sunabilir. SurveyUp Gizlilik ve Kullanım Koşulları aynen ge&ccedil;erliliğini korur. Bu yayınlarda Kullanıcının internet sağlayıcıdan aldığı hizmetteki kesintiler ya da kota aşımı Kullanıcının sorumluluğundadır.</p>

  <h3>Hizmet Bedeli</h3>

  <p>SurveyUp, Kullanıcının doldurduğu anketler karşılığında Kullanıcıya verdiği puanların karşılığında hi&ccedil;bir hizmet bedeli almaz. Sistem i&ccedil;inde ger&ccedil;ekleştirilen her maliyet SurveyUp tarafından karşılanır.</p>

  <h3>İlgili Kurumlar, İptaller, Ertelemeler ve İadeler</h3>

  <p>SurveyUp, anlaştığı kişi, kurum ya da kuruluşlar adına, bunlarla yapılan s&ouml;zleşmelere istinaden anket yapmaktadır. SurveyUp, sağladığı hizmet konusunda &uuml;retim firması garantisi, ortalama kalite garantisi dahil fakat bununla sınırlı olmayan belirli bir garanti vermez. Site ve i&ccedil;eriği &quot;olduğu gibi&quot; sunulmaktadır.</p>

  <p>Sistem &uuml;zerinden satın alınan hediyeler karşılığında Kullanıcının biriktirmiş olduğu puanlardan hediyenin bedeli d&uuml;şer. Kullanıcı satın aldığı hediyeden memnun kalmadığı durumda iade etmesi s&ouml;z konusu değildir. Hediyenin herhangi bir şekilde iptal edilmesinden ve/veya hediye kodunun eksik ya da hatalı olmasından SurveyUp sorumludur. Bu gibi durumlarda Bilgi b&ouml;l&uuml;m&uuml;nde bulunan zarf ikonuna tıklayarak SurveyUp ile temasa ge&ccedil;ebilirsiniz.</p>

  <p>Belirlenmiş t&uuml;ketim tarihi i&ccedil;inde kullanılmayan hediye kodları ge&ccedil;ersiz olup, SurveyUp&rsquo;ın hediye kodu ve hizmet bedeli iadesi ve/veya değişikliği yapması m&uuml;mk&uuml;n değildir. Kullanıcı belirlenmiş t&uuml;ketim tarihi i&ccedil;inde kullanılmayan hediye kodlarının iadesi i&ccedil;in SurveyUp&rsquo;tan talepte bulunamaz.</p>

  <h3>Kullanıcı İlişkileri</h3>

  <p>SurveyUp, hediye kodu ile yapılan satın alınan &uuml;r&uuml;n&uuml;n beğenilmemesinden ve sonraki iade işlemlerinden sorumlu değildir. Kullanıcı, SurveyUp kullanıcılarının usuls&uuml;z ve saldırgan davranışları, hakaretleri konusunda sorumlu tutulamayacağını kabul eder. SurveyUp ,genel ahlak ve toplum kurallarına uygun davranmayan kullanıcıların &uuml;yeliklerini iptal etme hakkını saklı tutmakla birlikte, bu t&uuml;r ilişkilerinden meydana gelebilecek zarardan Kullanıcının kendisi sorumludur.</p>

  <h3>İletişim</h3>

  <p>Kullanıcı, SurveyUp ile iletişime ge&ccedil;mek istediğinde aşağıda belirtilen yolları kullanabilecektir.</p>

  <address>
    <b>E-Posta:</b> <a href="mailto:infosurveyup@gmail.com">infosurveyup@gmail.com</a><br>
    <b>Posta Adresi:</b> Bulgurlu Mah. Karlıdere Cad. No:8/5 &Uuml;sk&uuml;dar,<br>
    İstanbul, T&uuml;rkiye
  </address>

  <h3>Fikri M&uuml;lkiyet Hakları</h3>

  <p>SurveyUp, bazıları kendine, bazıları ise 3.şahıslara ait telif hakkına konu olan metin, fotoğraf, grafik, ses m&uuml;zik dahil bilgi ve materyalleri barındırabilir. SurveyUp, bu i&ccedil;erik, bilgi ve materyallerle ilgili eser/derleme olarak telif hakkına sahiptir. Kullanıcı sadece kişisel kullanım i&ccedil;in kopya hakkına sahip olduğunu kabul eder ve SurveyUp&rsquo;ın yazılı izni olmadan i&ccedil;erik ve materyallerde değişiklik yapamaz, kopyalayamaz, &ccedil;oğaltamaz, yayınlayamaz, satamaz ve yasal olmayan şekilde kullanılmasına yardım edemez. Aynı zamanda Kullanıcı SurveyUp&rsquo;ın &ccedil;alışmasına m&uuml;dahale etmek veya m&uuml;dahaleye teşebb&uuml;s etmek amacıyla herhangi bir alet, yazılım veya y&ouml;ntem kullanmayacağını da kabul etmektedir. SurveyUp, her t&uuml;rl&uuml; izinsiz m&uuml;dahale ve/veya uygulama karşısında yasal yaptırımları kullanma hakkını saklı tutar.</p>

  <h3>Uyuşmazlıkların &Ccedil;&ouml;z&uuml;m&uuml</h3>

  <p>Kullanıcı uygulamayı kullanmakla site ile ilgili herhangi bir uyuşmazlık &ccedil;ıkması halinde bu uyuşmazlığın T&uuml;rkiye Cumhuriyeti Kanunlarına tabi olacağını ve bu kanunlara g&ouml;re &ccedil;&ouml;z&uuml;mleneceğini kabul eder. .</p>

  <p>SurveyUp, Kullanıcılarının g&uuml;venliğini en y&uuml;ksek seviyede tutabilmek i&ccedil;in en yeni ve en iyi &ouml;nlemleri s&uuml;rekli araştırmakta ve etkin &ccedil;&ouml;z&uuml;mlerini uygulamaya &ccedil;alışmaktadır.</p>

  <h4>Amacımız sizlere kaliteli hizmeti en iyi ve en g&uuml;venli şekliyle sunabilmektir.</h4>

  <p>Saygılarımızla,</p>

  <h5>SurveyUp Ekibi</h5>
</div>