<style>
  .item-icon-right .icon {
    font-size: 16px;
  }
</style>
<div class="list">
  <div class="item item-divider">Uygulama</div>
  <li class="item item-icon-right">
    SurveyUp kimdir?
    <i class="icon ion-chevron-right"></i>
  </li>
  <li class="item item-icon-right">
    Bize nasil ulasabilirsiniz?
    <i class="icon ion-chevron-right"></i>
  </li>
  <li class="item item-icon-right">
    Surveyup'i kullanmaya nasil baslayabilirim?
    <i class="icon ion-chevron-right"></i>
  </li>
  <li class="item item-icon-right">
    Cep telefonu aktivasyon sifrem gelmedi, ne yapabilirim?
    <i class="icon ion-chevron-right"></i>
  </li>
  <li class="item item-icon-right">
    Devam eden anketler nelerdir?
    <i class="icon ion-chevron-right"></i>
  </li>
  <li class="item item-icon-right">
    Anketleri tablet ve bilgisayarimdan tamamlayabilir miyim?
    <i class="icon ion-chevron-right"></i>
  </li>
  <div class="item item-divider">Hediye Satın Alma</div>
  <li class="item">
    Upcoin nedir?
    <i class="icon ion-chevron-right"></i>
  </li>
  <li class="item item-icon-right">
    Upcoinlerimi nasil kullanabilirim?
    <i class="icon ion-chevron-right"></i>
  </li>
  <li class="item item-icon-right">
    Anketleri tamamladiktan sonra puanlarin yuklenmesi ne kadar surer?
    <i class="icon ion-chevron-right"></i>
  </li>
  <div class="item item-divider">Bilgilerin Gizliliği</div>
  <li class="item">
    Surveyup'ta paylastigim bilgiler gizli tutulacak mi?</li>
  <li class="item item-icon-right">
    Cep telefonu bilgilerimi neden sizinle paylasmaliyim?
    <i class="icon ion-chevron-right"></i>
  </li>
  <div class="item item-divider">Kurumsal Bilgiler</div>
</div>
