<ion-view title="BİLGİ">
  <ion-content class="has-header">
    <div class="button-bar padding">
      <a class="button">Sikca Sorulan Sorular</a>
      <a class="button">Gizlilik</a>
    </div>
    <div class="list">
      <div class="item item-divider">Uygulama</div>
      <li class="item">SurveyUp kimdir?</li>
      <li class="item">Bize nasil ulasabilirsiniz?</li>
      <li class="item">Surveyup'i kullanmaya nasil baslayabilirim?</li>
      <li class="item">Cep telefonu aktivasyon sifrem gelmedi, ne yapabilirim?</li>
      <li class="item">Devam eden anketler nelerdir?</li>
      <li class="item">Anketleri tablet ve bilgisayarimdan tamamlayabilir miyim?</li>
      <div class="item item-divider">Hediye Satin Alma</div>
      <li class="item">Upcoin nedir?</li>
      <li class="item">Upcoinlerimi nasil kullanabilirim?</li>
      <li class="item">Anketleri tamamladiktan sonra puanlarin yuklenmesi ne kadar surer?</li>
      <div class="item item-divider">Bilgilerin Gizliligi</div>
      <li class="item">Surveyup'ta paylastigim bilgiler gizli tutulacak mi?</li>
      <li class="item">Cep telefonu bilgilerimi neden sizinle paylasmaliyim?</li>
      <div class="item item-divider">Kurumsal Bilgiler</div>
    </div>
  </ion-content>
</ion-view>
