<ion-view title="PROFİL">
  <ion-content class="has-header padding">
    <div class="input-label">Cinsiyet:</div>
    <ul class="list">
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        Erkek
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        Kadin
      </li>
    </ul>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Doğum Tarihiniz</span>
        <input type="text" placeholder="ör. 27/09/1983">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">Yaşadığınız Şehir:</div>
        <select>
          <option selected>İstanbul</option>
          <option>Ankara</option>
          <option>Izmir</option>
          <option>Bursa</option>
          <option>Trabzon</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">Eğitim Durumunuz</div>
        <select>
          <option>Okumamış</option>
          <option>İlkokul</option>
          <option>Ortaokul</option>
          <option>Lise</option>
          <option selected>Üniversite</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">Çalışma Durumunuz</div>
        <select>
          <option>Çalışmıyorum</option>
          <option>Serbest Meslek</option>
          <option selected>İşyerinde Ücretli Çalısan</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <span class="input-label">Gelir Durumunuz</span>
        <select>
          <option>1000TL ve alti</option>
          <option>1001 TL ve 1500 TL arası</option>
          <option>1501 TL ve 2000 TL arası</option>
          <option selected>2001 TL ve 3000 TL arası</option>
          <option>3001 TL ve 5000 TL arası</option>
          <option>5001 TL ve 7500 TL arası</option>
          <option>7501 TL ve 10000 TL arası</option>
          <option>10001TL ve üzerinde</option>
        </select>
      </label>
      <button class="button button-block button-balanced">
        Kaydet
      </button>
    </div>
  </ion-content>
</ion-view>
